{% extends 'layout.html' %}
{% block title %}Edit actor name{% endblock %}
{% block content %}

<div class="card">
    <h2>Change actor name: {{ actor.name }}  / actor id: {{ actor.id }}</h2>
    <form method="POST" action="/actor/{{ actor.id }}">
        <input name="actor_name" id="actorName" type="text" placeholder="{{ actor.name }}" required autofocus>
        <button type="submit" style="display:inline" id="changeActorNameButton">Change actor name</button>
    </form>
</div>

{% endblock %}